In [69]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')

In [3]:
numrows = 25549

In [4]:
heuristic_df = pd.DataFrame({'yesterday':[0.0]*numrows,
                             'today':[0.0]*numrows,
                             'tomorrow':[0.0]*numrows,
                             'guess':[False]*numrows, 
                             'rain_tomorrow':[False]*numrows, 
                             'correct':[False]*numrows, 
                             'true_positive':[False]*numrows, 
                             'false_positive':[False]*numrows,
                             'true_negative':[False]*numrows, 
                             'false_negative':[False]*numrows})

In [5]:
seq = ['yesterday',
       'today',
       'tomorrow',
       'guess',
       'rain_tomorrow',
       'correct',
       'true_positive',
       'false_positive',
       'true_negative',
       'false_negative']
heuristic_df = heuristic_df.reindex(columns=seq)

In [6]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [7]:
heuristic_df.head()

,yesterday,today,tomorrow,guess,rain_tomorrow,correct,true_positive,false_positive,true_negative,false_negative
0,0.0,0.0,0.0,False,False,False,False,False,False,False
1,0.0,0.0,0.0,False,False,False,False,False,False,False
2,0.0,0.0,0.0,False,False,False,False,False,False,False
3,0.0,0.0,0.0,False,False,False,False,False,False,False
4,0.0,0.0,0.0,False,False,False,False,False,False,False

In [8]:
for z in range(numrows):
  
    i = z + 2
    
    yesterday = df.iloc[(i-2),1]
    today = df.iloc[(i-1),1]
    tomorrow = df.iloc[i,1]
    rain_tomorrow = df.iloc[(i),1]
    
    heuristic_df.iat[z,0] = yesterday
    heuristic_df.iat[z,1] = today
    heuristic_df.iat[z,2] = tomorrow
    heuristic_df.iat[z,3] = False 
    heuristic_df.iat[z,4] = rain_tomorrow
    
   
    if today > 0.0 and yesterday > 0.0:
        heuristic_df.iat[z,3] = True
    if heuristic_df.iat[z,3] == heuristic_df.iat[z,4]:
        heuristic_df.iat[z,5] = True
        if heuristic_df.iat[z,3] == True:
            heuristic_df.iat[z,6] = True 
        else:
            heuristic_df.iat[z,8] = True 
    else:
        heuristic_df.iat[z,5] = False
        if heuristic_df.iat[z,3] == True:
            heuristic_df.iat[z,7] = True 
        else:
            heuristic_df.iat[z,9] = True

In [72]:
from sklearn.model_selection import train_test_split 
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

h_train , h_test , h_trainy , h_testy =train_test_split(heuristic_df ,heuristic_df['rain_tomorrow'] ,test_size=.8)
h_train.head()

,yesterday,today,tomorrow,guess,rain_tomorrow,correct,true_positive,false_positive,true_negative,false_negative
15604,0.0,0.0,0.00,False,False,True,False,False,True,False
16245,0.0,0.0,0.00,False,False,True,False,False,True,False
22515,0.0,0.0,0.03,False,True,False,False,False,False,True
9666,0.0,0.0,0.00,False,False,True,False,False,True,False
8000,0.0,0.0,0.00,False,False,True,False,False,True,False

In [73]:
h_train.head()

,yesterday,today,tomorrow,guess,rain_tomorrow,correct,true_positive,false_positive,true_negative,false_negative
15604,0.0,0.0,0.00,False,False,True,False,False,True,False
16245,0.0,0.0,0.00,False,False,True,False,False,True,False
22515,0.0,0.0,0.03,False,True,False,False,False,False,True
9666,0.0,0.0,0.00,False,False,True,False,False,True,False
8000,0.0,0.0,0.00,False,False,True,False,False,True,False

In [64]:
h_train.info

<bound method DataFrame.info of        yesterday  today  tomorrow  guess  rain_tomorrow  correct  \
23653       0.00   0.00      0.00  False          False     True
604         0.00   0.00      0.00  False          False     True
16609       0.46   0.00      0.00  False          False     True
11083       0.00   0.00      0.00  False          False     True
20407       0.26   0.44      0.73   True           True     True
...          ...    ...       ...    ...            ...      ...
15218       0.00   0.02      0.00  False          False     True
20639       0.00   0.00      0.01  False           True    False
11655       0.13   0.00      1.52  False           True    False
3786        0.00   0.00      0.00  False          False     True
23443       0.00   0.14      0.41  False           True    False

       true_positive  false_positive  true_negative  false_negative
23653          False           False           True           False
604            False           False           True           False
16609          False           False           True           False
11083          False           False           True           False
20407           True           False          False           False
...              ...             ...            ...             ...
15218          False           False           True           False
20639          False           False          False            True
11655          False           False          False            True
3786           False           False           True           False
23443          False           False          False            True

[5109 rows x 10 columns]>

In [65]:
h_test.head()

,yesterday,today,tomorrow,guess,rain_tomorrow,correct,true_positive,false_positive,true_negative,false_negative
6481,0.00,0.00,0.00,False,False,True,False,False,True,False
7388,0.10,0.51,0.16,True,True,True,True,False,False,False
11781,0.00,0.02,0.35,False,True,False,False,False,False,True
22230,0.35,0.88,0.05,True,True,True,True,False,False,False
550,0.00,0.00,0.00,False,False,True,False,False,True,False

In [66]:
h_test.info

<bound method DataFrame.info of        yesterday  today  tomorrow  guess  rain_tomorrow  correct  \
6481        0.00   0.00      0.00  False          False     True
7388        0.10   0.51      0.16   True           True     True
11781       0.00   0.02      0.35  False           True    False
22230       0.35   0.88      0.05   True           True     True
550         0.00   0.00      0.00  False          False     True
...          ...    ...       ...    ...            ...      ...
19804       0.00   0.02      0.01  False           True    False
24400       0.04   1.26      0.37   True           True     True
10519       0.00   0.00      0.00  False          False     True
4234        0.00   0.00      0.00  False          False     True
13255       0.01   0.00      0.15  False           True    False

       true_positive  false_positive  true_negative  false_negative
6481           False           False           True           False
7388            True           False          False           False
11781          False           False          False            True
22230           True           False          False           False
550            False           False           True           False
...              ...             ...            ...             ...
19804          False           False          False            True
24400           True           False          False           False
10519          False           False           True           False
4234           False           False           True           False
13255          False           False          False            True

[20440 rows x 10 columns]>

In [67]:
# we used this simple approach in the first part to see what percent of the time we where correct 
# calculated as (true positive + true negative)/ number of guesses
TP_TN=heuristic_df['correct'].value_counts()
acc=TP_TN/numrows
acc
## training data
TPTN_training=h_train['correct'].value_counts()
accT=TPTN_training/numrows
accT
## Testing Data
TPTN_test=h_test['correct'].value_counts()
accTS=TPTN_test/numrows
accTS

True     0.536420
False    0.263611
Name: correct, dtype: float64

In [80]:
# precision is the percent of your postive prediction which are correct
# more specifically it is calculated (num true positive)/(num tru positive + num false positive)
NTP_TRIAN=h_train['true_positive'].sum()
NTP_TEST=h_test['true_positive'].sum()

NFP_TRIAN=h_train['false_positive'].sum()
NFP_TEST=h_test['false_positive'].sum()

# recall the percent of the time you are correct when you predict positive
# more specifically it is calculated (num true positive)/(num tru positive + num false negative)
NFN_train=h_train['false_negative'].sum()
NFN_test=h_test['false_negative'].sum()


  
#list1=(NTP_Traing , NFP_testing , NFN_train , NFN_test )
#vector1=np.array(list1)
#vector1
#list2=()

In [106]:
from sklearn.metrics import mean_squared_error
def Calucations(NTP_TRIAN , NTP_TEST , NFP_TRIAN , NFP_TEST , NFN_train , NFN_test , true , pred):
    #percent of the time we where correct
    #(true positive + true negative)/ number of guesses
    prect_train = NTP_TRIAN/(NTP_TRIAN+NFP_TRIAN)
    prect_test = NTP_TEST/(NTP_TEST+NFP_TEST)
    
    # recall the percent 
    # (num true positive)/(num tru positive + num false negative)
    Rec_train=NTP_TRIAN/(NTP_TRIAN+NFN_train)
    Rec_test=NTP_TEST/(NTP_TEST+NFN_test)
    
    squared_errors = (true - pred) ** 2
    SSE=np.sum(squared_errors) 
    
    return print("Training Precision:" , prect_train*100,"%\n" , "Testing Precision:" , prect_test , "%\n\n",
              "Training Recall:" ,  Rec_train*100 , "%\n" , "Testing Recall:" , Rec_test*100 , "%\n\n" , "the SSE" ,
               SSE )

In [107]:
print("Accuracy:\n",acc,"\n\n")

Calucations(NTP_TRIAN , NTP_TEST , NFP_TRIAN , NFP_TEST , NFN_train , NFN_test , true=h_test['rain_tomorrow'].astype('int') , pred=h_test['guess'].astype('int'))
mean_squared_error(y_true=h_test['rain_tomorrow'].astype('int') , y_pred=h_test['guess'].astype('int'))*100, '%'

Accuracy:
 True     0.671611
False    0.328389
Name: correct, dtype: float64


Training Precision: 66.8724279835391 %
 Testing Precision: 0.6754736659134365 %

 Training Recall: 45.20166898470097 %
 Testing Recall: 44.44190301921317 %

 the SSE 6725

(32.90117416829745, '%')