In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')

In [5]:
data.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [6]:
numrows = 25549
regression = pd.DataFrame({'yesterday':[0.0] * numrows,
                              'today':[0.0] * numrows,
                             'tomorrow':[True] * numrows})

seq = ['yesterday',
       'today',
       'tomorrow']

In [7]:
regression = regression.reindex(columns=seq)

In [8]:
regression.head()

   yesterday  today  tomorrow
0        0.0    0.0      True
1        0.0    0.0      True
2        0.0    0.0      True
3        0.0    0.0      True
4        0.0    0.0      True

In [9]:
for i in range(0 , numrows):
    tomorrow = data.iloc[i,1]
    today = data.iloc[(i-1),1]
    yesterday= data.iloc[(i-2),1]
    regression.iat[i,2] = tomorrow
    regression.iat[i,1] = today
    regression.iat[i,0] = yesterday

In [65]:
regression.describe

<bound method NDFrame.describe of        yesterday  today  tomorrow
0           0.00   0.00      True
1           0.00   0.47      True
2           0.47   0.59      True
3           0.59   0.42      True
4           0.42   0.31      True
...          ...    ...       ...
25544       0.00   0.00     False
25545       0.00   0.00     False
25546       0.00   0.00     False
25547       0.00   0.00     False
25548       0.00   0.00     False

[25549 rows x 3 columns]>

In [80]:
regression=regression[~regression.isin([np.nan, np.inf, -np.inf]).any(1)]

In [81]:
from sklearn import linear_model
x = regression[['today', 'yesterday']].values
y = regression.tomorrow.values
x = x.reshape(regression.shape[0], 2)

In [82]:
clf = linear_model.LogisticRegression(solver='lbfgs').fit(x, y)

In [83]:
score = clf.score(x,y)
print(score)

0.6750313185092389

In [85]:
pred= clf.predict(x)
conf = metrics.confusion_matrix(y, pred)
print(conf)

[[13215  1427]
 [ 6874  4028]]

In [2]:
regression

NameError: name 'regression' is not defined