**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [9]:
tables = list(client.list_tables(dataset))
 
for table in tables:  
    count = 0
    print(table.table_id)
    count = count+1
    
    
print(count)   
print(len(tables))

crime
1
1

In [16]:
num_tables = count # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [21]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [23]:
table_ref=dataset_ref.table("crime")
table=client.get_table(table_ref)
table.schema
sum(table.field_type=="TIMESTAMP" for table in table.schema)

2

In [24]:
num_timestamp_fields = 2# Put your answer her

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [28]:
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,10328935,HY466002,2015-10-17 18:21:00+00:00,049XX S PRINCETON AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,VEHICLE NON-COMMERCIAL,True,False,...,3,37,18,None,None,2015,2016-07-09 15:47:38+00:00,None,None,None
1,11216869,JB125823,2017-01-01 00:01:00+00:00,133XX S AVENUE N,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,False,...,10,55,02,None,None,2017,2018-01-29 15:56:21+00:00,None,None,None
2,10227616,HY415139,2009-04-15 00:01:00+00:00,007XX E 131ST ST,1564,SEX OFFENSE,CRIMINAL TRANSMISSION OF HIV,CHA APARTMENT,False,False,...,9,54,17,None,None,2009,2016-01-15 11:08:45+00:00,None,None,None
3,11226759,JB146444,2017-12-13 10:00:00+00:00,072XX N OLEANDER AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,...,41,9,11,None,None,2017,2018-02-10 16:08:39+00:00,None,None,None
4,5411566,HN252643,2004-09-27 00:00:00+00:00,016XX E 92ND PL,1110,DECEPTIVE PRACTICE,BOGUS CHECK,RESIDENCE,False,False,...,8,48,11,None,None,2004,2015-08-17 15:03:40+00:00,None,None,None

In [ ]:
fields_for_plotting = ["latitude", "longitude"] # Put your answers here

# Check your answer
q_3.check()

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [ ]:
# Scratch space for your code

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161314) to chat with other Learners.*